<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="favicon.png">
  <title>Coffee Shop Recording</title>
</head>

<body>
  <!-- preloader -->
  <div class="preloader">
    <img src="images/preloader.gif" alt="preloader" class="preloader__item">
  </div>
  <!-- end preloader -->

<custom-header></custom-header>
  
<custom-about></custom-about>

<custom-booking></custom-booking>
 
<custom-works></custom-works>


  <!-- contact section -->
  <section class="contact section-padding" id="contact">

    <!-- section title -->
    <div class="section-title section-title--left">
      <h1 class="section-title__name bell-fonts">Contact Us</h1>
      <div class="section-title__underline"></div>
    </div>
    <!-- end of section title -->

    <div class="contact-container">
      <iframe class="contact-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.289576151!2d-74.26056209591941!3d40.697668401320975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2sus!4v1533864690575"
        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      <div class="contact-info">
        <!-- single contact item -->
        <div class="contact-item">
          <div class="contact-item__icon">
            <i class="fas fa-map-pin"></i>
          </div>
          <h2 class="contact-item__title">address</h2>
          <p class="contact-item__text">8139 w coffee street, san diego</p>
        </div>
        <!-- end of single contact item -->
        <!-- single contact item -->
        <div class="contact-item">
          <div class="contact-item__icon">
            <i class="fas fa-headphones-alt"></i>
          </div>
          <h2 class="contact-item__title">support</h2>
          <p class="contact-item__text">
            <span>
              <i class="fas fa-phone"></i>
            </span>
            +123 456 789
          </p>
          <p class="contact-item__text">
            <span>
              <i class="fas fa-envelope"></i>
            </span>email@email.com</p>
        </div>
        <!-- end of single contact item -->
        <!-- single contact item -->
        <div class="contact-item">
          <div class="contact-item__icon">
            <i class="fas fa-clock"></i>
          </div>
          <h2 class="contact-item__title">work time</h2>
          <p class="contact-item__text">monday - friday 8.00am - 8.00pm</p>
          <p class="contact-item__text">saturday - sunday 9.00am -10pm</p>
        </div>
        <!-- end of single contact item -->
      </div>
    </div>
  </section>
  <!--end of  contact section -->
</body>
</html>